@import "tailwindcss";
@plugin "daisyui";

#__next {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #2C3333;
}

body {
  overscroll-behavior: none;
}

.collapse:not(.collapse-close) input[type="checkbox"]:checked ~ .list.collapse-content {
  max-height: 28rem;
}