@import "tailwindcss";
@plugin "daisyui" {
  themes: caramellatte --default, dark --prefersdark, coffee;
}

#__next {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  overscroll-behavior: none;
}

.collapse:not(.collapse-close) input[type="checkbox"]:checked ~ .list.collapse-content {
  /* max-height: 28rem; */
}